<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBridge</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <div class="logo">
        <h1>SkillBridge</h1>
    </div>

    <nav>
        <a href="#">Home</a>
        <a href="#">Courses</a>
        <a href="#">Skill Swap</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Login</a>
    </nav>
</header>

<section class="hero">

    <h2>Learn, Teach & Grow Together</h2>

    <p>
        Welcome to SkillBridge, an Interactive E-Learning and Skill Swap Platform
        where students can learn new skills, teach others, and grow together.
    </p>

    <button>Get Started</button>

</section>

<section class="features">

    <div class="card">
        <h3>📚 E-Learning</h3>
        <p>Watch courses, read notes, and complete quizzes.</p>
    </div>

    <div class="card">
        <h3>🤝 Skill Swap</h3>
        <p>Exchange skills with other students and professionals.</p>
    </div>

    <div class="card">
        <h3>🏆 Certificate</h3>
        <p>Earn certificates after completing courses successfully.</p>
    </div>

</section>

<footer>
    <p>© 2026 SkillBridge | Developed by Chethana</p>
</footer>

</body>
</html>